// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@import "font-awesome";
@import "bourbon";

$accent-color1: #DC143C;
$accent-color2: #EEE8CD;
$accent-color3: black;

$font-title: 'Play', sans-serif;
$font-content: 'Slabo', serif;
$font-fun: 'Source Code Pro';
$font-movie: 'Fascinate', serif;

//Universal
body {
  @include linear-gradient(to right,#7F7F7F, #DBDBDB, #C4C4C4, #BABABA, grey );
}

form {
  font-family: $font-fun;
}



button {
  background-color: $accent-color1;
  border: 2px solid $accent-color3;
  border-radius: 50pt;
}
h3, h4, p{
  font-family: $font-content;
}
h3 {
  font-size: 20pt;
}
h4 {font-size: 15pt;
}
p {
  font-size: 12pt;
}
hr {
  border-top: solid 1pt $accent-color1;
}

//Layout
.top-bar .name h1 a, {
  color: $accent-color2;
}
.toptitle {
  font-size: 25pt;
  font-family: $font-movie;
  color: $accent-color2;
}
.toptitle i {
  color: $accent-color1;
}


.top-bar-section ul li > a {
  font-family: $font-content;
  font-size: 13pt;
  color: $accent-color2;
}
.loginContainer {
  float: right;
  margin-right: 50pt;
  margin-top: 15pt;
  border: 2px solid $accent-color3;
  border-radius: 50pt;
  padding: 20pt;
  background-color: $accent-color2;
  //display: inline;
}



//Sign in
.masterContainer {
  margin: 20px auto;
  display: block;
  //max-width: 500px;
 // display: inline-block;
}
.side-nav a{
  font-family: $font-content;
  //font-size: 15pt;
  color: black;
  max-width: 90px;
}
.containerLeft {
  max-width: 200px;
  float: left;
  font-family: $font-content;
  margin-left: 20px;
}
.todo {
  font-family: $font-fun;
  
  
}
.containerMiddle {
  max-width: 600px;
  float: left;
  margin-left: 25px;
  padding: 20pt;
  margin-top: 0pt;
}
.signupContainer {
  float: right;
  margin-right: 50pt;
  margin-top: 15pt;
  border: 2px solid $accent-color3;
  border-radius: 50pt;
  padding: 20pt;
  background-color: $accent-color2;
  //display: inline;
}
.usersignOne  {
  font-family: $font-content;
 // font-size: 2.5em;
}
.usersignTwo  {
  font-family: $font-content;
}
.usersignTwo a {
  font-family: $font-content;
  color: $accent-color1;
}
.footer {
  background-color: white;
  max-height: 200px;
}

//Log in
// .userlogOne {
//   font-family: $font-content;
//   font-size: 2.5em;
// }





// .panel {
//   cursor: pointer;

// }

// .attachImage {
//   float: right;
//   font-size: 12px;
//   vertical-align: middle;
//   i {
//     padding-right: 5px;
//     font-size: 18px;
//     vertical-align: middle;
//   }
// }
// .uploadForm {
//   clear: both;
//   width: 275px;
//   margin-top: 10px;
//   float: right;
//   background-color: rgba(51, 51, 51, 1);
//   color: white;
//   padding: 10px 10px 5px 10px;
// }

.attachImage {
  float: right;
  font-size: 12px;
  vertical-align: middle;
  i {
    padding-right: 5px;
    font-size: 18px;
    vertical-align: middle;
  }
}
.uploadForm {
  clear: both;
  width: 275px;
  margin-top: 10px;
  float: right;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  padding: 10px 10px 5px 10px;
}

#searchForm {
  width: 500px;
  margin: 50px auto;
::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #DC143C }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #DC143C } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #DC143C } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #DC143C }
}

.search {
  padding: 8px 15px;
  background: red;
  border: 0px solid #dbdbdb;
}

#searchButton {
  position: relative;
  padding: 6px 15px;
  // left: -8px;
  border: 2px solid black;
  background-color: #DC143C;
  color: white;
  display: inline;
}

#searchButton:hover {
  background-color: white;
  color: #DC143C;
<<<<<<< HEAD
}
.form-inline {
  display: block;
}
//Review form
.reviewForm label{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
textarea {
  height: 150px;
}

=======
}
>>>>>>> jef
