


<h3>{{vm.title}}</h3>
<h4>Life is too short to watch bad movies!</h4>

<p>We know you're busy.  We know you rarely have time to sit down and dedicate two hours to watch a full length film.  And when you do, you don't want to pick a lemon</p>
<p>With Movie Sidekick, you can quickly see what our users have to say, helping to ensure you don't waste your time on a bad flick.  We also provide some critics' opinions as well, courtesy of imdb.com.  We also welcome you to provide your own reviews, 'paying it forward' by providing insight into films you have seen.</p>
<p>Give us a try, we're confident you will enjoy the experience that is changing the way informed viewers select their movies!</p>

<p>{{vm.message}}</p>

<button ng-click="logmeout()">LogOut</button>

<p>logo ... nav ... search ... home - my movies - 




Top Ten - New Releases



</p>