<div>

Email Address | Password <button>Sign In</button>

<h3>What's showing tonight?</h3>


<h4>Create an Account</h4>
User Name
Email
Password

<button>Sign Up</button>


<h4>What do I want to watch next?</h4>

<p>Movie Sidekick allows you to read reviews by other users, as well as critics and Rotten Tomatoes reviews, and decide what you want to watch.  You can search our database by title, actors, and/or genre.</p>

<h4>What can I watch now?</h4>

<p>Movie Sidekick allows you to see what movies are playing locally and stream online.</p>

<h4>Discover your next favorite movie!</h4>

<p>Click on the profiles of users who rated movies similar to you, and see what other movies they recommend.</p>

</div>