<!--<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href class="toptitle"="#/">Movie <i class="fa fa-film"></i> Sidekick</a>
      </h1>
    </li>
    
  </ul>
  <section class="top-bar-section">

    <ul class="right">      
      <li><a href="#/">Home</a></li>
      <li><a href="#/movies">Login</a></li>
      <li><a href="#/signup">Sign Up</a></li>
    </ul>
  </section>
</nav>
-->
<h1>Welcome {{user.username}}</h1>
<section class="container" ui-view></section>