<h3>{{ vm.movie.Title }}</h3>

<movie-item movie="vm.movie"></movie-item>

<img ng-show="vm.movie.Poster" ng-src="{{ vm.movie.Poster }}">
<ul class="movieDetails">
  <li>{{ vm.movie.Year }}</li>
  <li>{{ vm.movie.Rated }}</li>
  <li>{{ vm.movie.Released }}</li>
  <li>{{ vm.movie.Runtime }}</li>
  <li>{{ vm.movie.Genre }}</li>
  <li>{{ vm.movie.Director }}</li>
  <li>{{ vm.movie.Writer }}</li>
  <li>{{ vm.movie.Actors }}</li>
  <li>{{ vm.movie.Plot }}</li>
  <li>{{ vm.movie.Language }}</li>
  <li>{{ vm.movie.Country }}</li>
  <li>{{ vm.movie.Awards }}</li>
  <li>{{ vm.movie.Metascore }}</li>
  <li>{{ vm.movie.imdbRating }}</li>
  <li>{{ vm.movie.imdbVotes }}</li>
  <li>{{ vm.movie.imdb.ID }}</li>
  <li>{{ vm.movie.Type }}</li>
</ul>

<ng-repeat

<form class="reviewForm">
  <label>Seen this movie?  Write your own review.<textarea maxlength="500">
  </textarea></label>
</form>

<div class="movieReviews">ng-repeat="review in vm.reviews"</div>


