<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href class="toptitle"="#/">Movie <i class="fa fa-film"></i> Sidekick</a>
      </h1>
    </li>
    
  </ul>
  <section class="top-bar-section">

    <ul class="right">  
      <li><a href="#/movies">My Movies/Reviews</a></li>
      <li><a href="#/movies/:id">My Profile</a></li>    
      <li><a href="#/login">Back to Login Page</a></li>
      <li><a href="#/home">Home</a></li>
    </ul>
  </section>
</nav>

<form ng-submit="vm.search(query)" id="searchForm">
 <input type="text" placeholder="Movie or Series Title" ng-model="query" type="title" required/>
 <button id="searchButton">Search</button> 
</form>

<img ng-show="vm.movie.image" ng-src=" {{ vm.movie.image }}">
<div class="movieResults">
  <ul>
    <li ng-repeat="movie in vm.movie.Title"></li>
  </ul>
</div>
<p>nn{{movie.Title}}</p>
<h3>Movie List</h3>

<movie-item id="movie-{{ $index }}" ng-repeat="c in vm.movies" movie="c"></movie-item>
<div class="panel"></div>
