<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href class="toptitle"="#/">Movie <i class="fa fa-film"></i> Sidekick</a>
      </h1>
    </li>
    
  </ul>
  <section class="top-bar-section">

    <ul class="right">  
      <li><a href="#/movies">My Movies/Reviews</a></li>
      <li><a href="#/profile">My Profile(needs to be fixed)</a></li>    
      <li><a href="#/login">Back to Login Page</a></li>
      <li><a href="#/home">Home</a></li>
    </ul>
  </section>
</nav>

<div class="movieDetails">
<movie-item id="movie-{{ $index }}" ng-repeat="c in vm.movies" movie="c"></movie-item>
</div>

<div class="starRating">
<h4>Rate a Movie</h4>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div class="stars">
  <!-- <form class="starRating"> -->
  <form ng-submit="vm.addReview(review)" class="starRating">
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div>
</div>
<div id="addReview">
  <form ng-submit="vm.addReview(review)" class="reviewForm">
    <h4>Write a Review</h4>
    <textarea maxlength="500" id="reviewText"></textarea>
    <button class="something">Add Review</button>
  </form>
</div>