<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href class="toptitle"="#/">Movie <i class="fa fa-film"></i> Sidekick</a>
      </h1>
    </li>
    
  </ul>
  <section class="top-bar-section">

    <ul class="right">  
      <li><a href="#/movies">{{vm.user}}'s Movies/Reviews</a></li>
      <li><a href="#/profile">{{vm.user}}'s Profile</a></li>    
      <li><a href="#/login">Back to Login Page</a></li>
      <li><a href="#/home">Home</a></li>

    </ul>
  </section>
</nav>

<form ng-submit="vm.search(query)" id="searchForm">
<p>Welcome {{vm.user}} {{vm.email}}!  You are now logged in.</p>
 <input type="text" placeholder="Movie or Series Title" ng-model="query" type="title" required/>
 <button id="searchButton">Search</button> 
</form>

<movies-item id="movie-{{ $index }}" ng-repeat="c in vm.movies" movie="c"></movies-item>

<allmovies-item id="movie-{{ $index }}" ng-repeat="c in vm.allmovies | limitTo: 20" movie="c"></movies-item>




